@charset "UTF-8";

body
{
  color: gray;
  font-size: 13pt;
  margin: 5px 25px;
}

h1
{
  color: gray;
  font-size: 18pt;
  font-weight: bold;
}

pre
{
	border: 1px solid gray;
  color: gray;
  font-size: 13pt;
  padding: 5px 10px;
}