@charset "UTF-8";

.err
{
  color: red;
}

body
{
  color: gray;
  font-size: 13pt;
  margin: 5px 25px;
}

h1
{
  color: gray;
  font-size: 18pt;
  font-weight: bold;
}

pre
{
  border: 1px solid gray;
  color: gray;
  font-size: 13pt;
  padding: 5px 10px;
}

table.navi
{
  background: white;
  width: 100%;
}

table.navi tr
{
  background: white;
}

table.navi tr td
{
  background: white;
}

td
{
  background: #f0f0f0;
  color: black;
  padding: 5px;
}

th
{
  background: darkgray;
  color: white;
  padding: 5px;
}

tr
{
  margin: 5px;
}