<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" content="Text/HTML" http-equiv="Content-Type">
    <title>
      Top Page
    </title>
    <link type="Text/CSS" rel="StyleSheet" th:href="@{/css/style.css}">
    <style>
    </style>
  </head>
  <body>
    <h1>
      Hello Page
    </h1>
    <p class="msg" th:text="${message}">
      Please wait...
    </p>
    <form action="/" method="post">
      <input type="text" name="txtName" th:value="${name}">
      <input type="submit" value="Click">
    </form>
  </body>
</html>