<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" content="Text/HTML" http-equiv="Content-Type">
    <title>
      Top Page
    </title>
    <link type="Text/CSS" rel="StyleSheet" th:href="@{/css/style.css}">
    <style>
    </style>
  </head>
  <body>
    <h1 th:text="#{content.title}">
      Hello Page
    </h1>
    <div th:object="${object}">
      <p th:text="|My name is *{name}. E-Mail address is *{mail}.|">
        Message
      </p>
    </div>
  </body>
</html>