<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" content="Text/HTML" http-equiv="Content-Type">
    <title>
      Top Page
    </title>
    <link type="Text/CSS" rel="StyleSheet" th:href="@{/css/style.css}">
    <style th:include="part::frag_style">
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jauery.min.js">
    
    </script>
    <script th:inline="JavaScript">
$(document).ready(function()
{
  var number = |*[[${param.id[0]}]]*|;
});

function callback(result)
{
  $('#obj').append('<li>id: ' + result.id + '</li>');
  $('#obj').append('<li>name: ' + result.name + '</li>');
  $('#obj').append('<li>mail: ' + result.mail + '</li>');
  $('#obj').append('<li>age: ' + result.age + '</li>');
  $('#obj').append('<li>memo: ' + result.memo + '</li>');
}
    </script>
  </head>
  <body>
    <h1 th:text="#{content.title}">
      Hello Page
    </h1>
    <p th:text="${message}">
      
    </p>
    <ol id="obj">
    
    </ol>
    <table>
      <tr>
        <th>Id</th>
        <th>名前</th>
        <th>メール</th>
        <th>年齢</th>
        <th>メモ(Tel.)</th>
      </tr>
      <tr th:each="obj : ${dataList}">
        <td th:text="${obj.id}"></td>
        <td th:text="${obj.name}"></td>
        <td th:text="${obj.mail}"></td>
        <td th:text="${obj.age}"></td>
        <td th:text="${obj.memo}"></td>
      </tr>
    </table>
  </body>
</html>